@import "tailwindcss";
@config "../tailwind.config.js";

@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #101622;
    }

    ::-webkit-scrollbar-thumb {
        background: #282e39;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #135bec;
    }
}